<h2><%= @message.title %></h2>
<p><%= @message.content %></p>
<%= link_to "Edytuj", edit_message_path(@message) %>
<%= link_to "Usuń", message_path(@message), method: :delete, data: { confirm: 'Na pewno?' } %>